In [1]:
#Added the Description part of Movie in the Dataframe
#Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release)
#and make data frame.

import pandas as pd   #to create dataframe
import requests       #to send the request to the URL
from bs4 import BeautifulSoup #to get the content in the form of HTML
import numpy as np  # to count the values (in our case)

In [3]:
url = 'https://www.imdb.com/search/title/?count=100&groups=top_1000&sort=user_rating'
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

In [4]:
movie_name = []
year = []
time = []
rating = []

In [12]:
movie_data = soup.findAll('div', attrs= {'class': 'lister-item mode-advanced'})

#calling one by one using for loop
for store in movie_data:
    name = store.h3.a.text
    movie_name.append(name)
    
    year_of_release = store.h3.find('span', class_ = 'lister-item-year text-muted unbold').text.replace('(', '').replace(')', '')
    year.append(year_of_release)
    
    runtime = store.p.find('span', class_ = 'runtime').text.replace(' min', '')
    time.append(runtime)
    
    rate = store.find('div', class_ = 'inline-block ratings-imdb-rating').text.replace('\n', '')
    rating.append(rate)

In [6]:
movie_DF = pd.DataFrame({'Name of movie': movie_name, 'Year of relase': year, 'Watchtime': time, 'Movie Rating': rating})

In [7]:
movie_DF.head(7)

,Name of movie,Year of relase,Watchtime,Movie Rating
0,The Shawshank Redemption,1994,142,9.3
1,The Godfather,1972,175,9.2
2,The Dark Knight,2008,152,9.0
3,The Lord of the Rings: The Return of the King,2003,201,9.0
4,Schindler's List,1993,195,9.0
5,The Godfather: Part II,1974,202,9.0
6,12 Angry Men,1957,96,9.0

In [9]:
#Saving data in Excel file:

movie_DF.to_excel("Top_100_IMDB_Movies.xlsx")